@charset "utf-8";
/* CSS Document */

*{padding:0; margin:0;}
a{text-decoration:none; }
li{list-style:none; }
.fl{ float:left; display:inline; }
.fr{ float:right; display:inline; }
.clearFix:after{ content:''; display:block; clear:both; }
.clearFix{ zoom:1; }
img{ vertical-align:top; }
body{ font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif; }

.wrapper{ width:1210px; margin:0 auto; min-width:1210px; }

body{ color:#666; font-size:12px; }
a{ color:#666; }
a:hover{ color:#e4393c; }
.red{ color:#e4393c; }
.gray{ color:#999; }
.bold{ font-weight:bold;}
